* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #1a1a1a;
  color: #ffffff;
}

main {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 1.2rem;
  border-bottom: 2px solid #5f5e5a;
}

.logo {
  padding: 10px 20px;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul li {
  padding: 10px 20px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
}

.sign-up {
  border: 2px solid #5f5e5a;
  padding: 10px;
  border-radius: 10px;
}

.sign-up:hover {
  background: #f5f5f0;
  /* border: none; */
  transition: 0.2s ease;
  color: black;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 70px auto;
  text-align: center;
}

header p {
  color: #a8a8a0;
}

.version {
  background: #378add;
  padding: 5px 10px;
  border-radius: 10px;
  opacity: 0.7;
}

.white {
  background: #f5f5f0;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border: 2px solid #5f5e5a;
}

.white:hover {
  background: transparent;
  color: #ffffff;
  transition: 0.2s ease;
}

.black {
  background: transparent;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #5f5e5a;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
}

.black:hover {
  background: #f5f5f0;
  transition: 0.2s ease;
  color: black;
}

section {
  background: #000000;
  margin: 30px auto;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.focus,
.track,
.nudges {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 40px;
  width: 25%;
  border: 2px solid #5f5e5a;
  border-radius: 10px;
  background: #1a1a1a;
  animation: expand 4s infinite linear;
}

.focus {
  animation-delay: 2s;
}

.track {
  animation-delay: 3s;
}

.nudges {
  animation-delay: 4s;
}

section p {
  color: #5f5e5a;
}

.ti-chart-line {
  color: royalblue;
  font-size: 2rem;
}

.ti-bell {
  font-size: 2rem;
  color: orange;
}

.ti-target {
  font-size: 2rem;
  color: lightblue;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer p {
  color: #a8a8a0;
}

h2 {
  font-size: 1.7rem;
}

.input-section {
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

input {
  padding: 10px 20px;
  border: 2px solid #a8a8a0;
  background: transparent;
  color: #a8a8a0;
  font-size: 1.2rem;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

::placeholder {
  color: #a8a8a0;
  text-align: center;
}

.join {
  padding: 10px 15px;
  border: 2px solid #a8a8a0;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.join:hover {
  background: transparent;
  color: #f5f5f0;
  transition: 0.2s ease;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    border: 2px solid gold;
    transition: 0.5s ease-in-out;
  }

  75% {
    transform: scale(1.2);
    border: 2px solid navy;
    transition: 0.5s ease-in-out;
  }

  90% {
    transform: skew(10deg);
    border: 2px solid lime;
    transition: 0.5s ease-in-out;
  }
}
